#canvas-clock {margin: 50px 0 20px 0;}
.clearfix:after{
  content: '';
  display: block;
  clear: both;
}

ul{
  margin: 0;
}

nav{
  background-color: rgba(255, 255, 255, 0.15);
  height: 50px;
}

#banner{
  background-color: transparent;
  height: 700px;
}

nav ul{
  list-style: none;
  margin: 0;
  float: right;
}

nav ul li, nav .logo{
  display: inline-block;
  line-height: 50px;
  margin-right: 20px;
}

nav ul li a, nav .logo a{
  line-height: inherit;/*inherit代表继承父元素的高度*/
  text-decoration: none;
  display: inline-block;
  height: inherit;
  color: #fff;
}

nav .logo{
  float: left;
  padding-left: 10px;
}

#banner .inner{
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 160px;
}

#banner .inner #text-more{
  margin: 5px;
}

#banner .inner h1{
  margin: 0;
  color: #fff;
}

button{
  border: none;
  background-color: #333;
  color: #eee;
  padding: 10px;
}

#banner .inner .more{
  margin-top: 120px;
  color: white;
}

.sub-heading{
  line-height: 30px;
  margin: 20px 0;
  color: white;
  font-size: 18px;
}

.logo{
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}
.logo a{
  color: #fff;
}

.hr{
  width: 100%;
  height: 2px;
  margin: 10px auto;
  background-color: white;
}

header{
  background-color: rgba(0, 0, 0, 0.2);
}

h1{
  padding: 12px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

h2{
  font-size: 30px;
}

.card h3{
  font-size: 22px;
  margin-top: 10px;
}

p{
  font-size: 18px;
  letter-spacing: 1px;
}

.green-section{
  text-align: center;
  background-color: #089db0;
  color: #fff;
  padding: 100px 0;
}

.gray-section h2:nth-child(odd) {
  margin-top: 0;
  padding-top: 30px;
}

.green-section .hr{
  background-color: #098e9f;
  width: 60%;
}

.green-section .icon-group .icon{
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: #0d6f7c;
  transform: rotate(45deg);
  margin: 20px;
}

.icon-group{
  margin-top: 60px;
}

.wrapper{
  max-width: 1080px;
  margin: 0 auto;
}

.gray-section{
  background-color: #252f34;
  color: #fff;
}

.gray-section .img-section{
  width: 45%;
}

.img-section:nth-child(odd){
  margin-right: 50px;
}

.l-float {
  float: left;
}

.img-section img{
  width: 100%;
}

.content-validity ~ p{
  margin: 8px 0 0 0;
}

.article-preview:nth-child(odd){
  background-color: rgba(200, 255, 255, 0.05);
}

.article-preview:nth-child(even) .img-section{
  margin: 0 0 0 50px;
  float: right;
}

.article-preview:nth-child(even) .text-section{
  margin-left: 50px;
}

.article-preview:after{
  content: '';
  display: block;
  clear: both;
}

.purple-section{
  padding: 80px;
  background-color: #534998;
  color: #fff;
}

.purple-section .heading-wrapper{
  text-align: center;
}

.purple-section .hr{
  background-color: #4a408c;
  width: 60%;
}

.card{
  float: left;
  width: 50%;
  min-height: 350px;
  /*height: 300px;*/
  /*overflow: auto;*/
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*border: 1px solid white;*/
}

.card:first-child{
  background-color: rgba(0, 0, 0, 0.04);
}

.card:nth-child(2){
  background-color: rgba(0, 0, 0, 0.08);
}

.card:nth-child(3){
  background-color: rgba(0, 0, 0, 0.12);
}

.card:nth-child(4){
  background-color: rgba(0, 0, 0, 0.16);
}

.card:nth-child(5){
  background-color: rgba(0, 0, 0, 0.20);
}

.card:nth-child(6){
  background-color: rgba(0, 0, 0, 0.24);
}

footer{
  background-color: #444;
  color: #fff;
  min-height: 200px;
  text-align: center;
}

ul.share-group{
  display: block;
  width: 1080px;
  margin: 0 auto;
  padding: 50px;
}

.share-group li{
  display: inline-block;
  padding: 10px;
}

.copy{
  padding-bottom: 20px;
}

.index-wrapper{
  margin: 0 auto;
  min-width: 1260px;
  max-width: 1260px;
  background: #444 url("imgs/banner.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /*background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;  // 这个设置容器宽度为浏览器宽度
  height: 100vh; // 这个设置容器高度为浏览器高度*/
}